################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AcpiProbe/bin
/AcpiProbe/bin
/AcpiProbe/obj
/packages
/Tester/bin
/Tester/obj
/AcpiProbe/AcpiProbe.csproj.user
/Tester/Tester.csproj.user
